{% load static %}
{% load core_tags %}
{% load projects_tags %}

<img src="{% static "images/gfbio_logo.png" %}" alt="GFBio logo" height="0" class="float-right d-none"/>

{% block content %}

    <h1>Data Management Plan</h1>

    {% if project.catalog %}
        {% for section in sections %}
            <h2>{{ section.title_lang1 }}</h2>
            {% for page in section.ordered_pages %}
                {% if page.title_lang1 %}
                    <h3>{{ page.title_lang1 }}</h3>
                {% endif %}
                {% for question in page.ordered_questions %}
                    {% if question.text %}
                        <p><strong>{{ question.text }}</strong></p>
                        {% if question.attribute %}
                            {% with question.processed_values as values_list %}
                                {% if values_list %}
                                    {% if values_list|length > 1 %}
                                        <ul>
                                        {% for value in values_list %}
                                            <li>
                                            {% if value.option %}
                                                {{ value.option.text }}
                                            {% elif value.text %}
                                                {{ value.text }}
                                            {% elif value.is_true %}
                                                Yes
                                            {% elif value.is_false %}
                                                No
                                            {% else %}
                                                Not provided
                                            {% endif %}
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% else %}
                                        {% with values_list.0 as value %}
                                            <p>
                                            {% if value.option %}
                                                {{ value.option.text }}
                                            {% elif value.text %}
                                                {{ value.text }}
                                            {% elif value.is_true %}
                                                Yes
                                            {% elif value.is_false %}
                                                No
                                            {% else %}
                                                Not provided
                                            {% endif %}
                                            </p>
                                        {% endwith %}
                                    {% endif %}
                                {% else %}
                                    <p>Not provided</p>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% else %}
        <p>No catalog found in project.</p>
    {% endif %}

{% endblock %}
