{% extends "base.html" %}
{% load static %}

{% block content %}

  {% csrf_token %}
  <script>
    window.props = {{ backend|safe }};
  </script>
  <div class="row">
    <div class="col-12">
      <div id='root'>
        <p>dmpt app ? ....</p>
      </div>
    </div>
  </div>

{% endblock content %}

{% block thirdPartyJavaScript %}
  {#    <script src="{% static 'js/gfbio_dmpt_form/main.64ac43242a63c308c37b.js' %}"></script>#}
  <script src="{% static 'js/gfbio_dmpt_form/main.js' %}"></script>
{% endblock thirdPartyJavaScript %}
