section.page-title {
  background-color: $gray-100;

  h1 {
    color: $standard-dark;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-right: -6px;

    i {
      font-size: 3rem;
      padding-right: 2.4rem;
      color: $gray;
    }
  }
}

section.content {
  min-height: 90vh;

  .blue-stroke {
    -webkit-text-stroke-color: $gfbio-blue;
  }

  .light-blue-stroke {
    -webkit-text-stroke-color: $gfbio-light-blue;
  }

  .green-stroke {
    -webkit-text-stroke-color: $gfbio-green;
  }

  /* H1 --------------------------------------------------------------------- */

  //h1.light {
  h1 {
    font-weight: 100;
    font-size: 3.4rem;
    color: $standard-dark;
    margin-bottom: 1.6rem;
  }

  h1.outline.green-stroke {
    //font-size: calc(3rem + 5vw);
    font-size: 6rem;
    font-weight: 400;
    color: white;
    text-shadow: 
      -1px -1px 0 $gfbio-green-0-7,
      1px -1px 0 $gfbio-green-0-7,
      -1px 1px 0 $gfbio-green-0-7,
      1px 1px 0 $gfbio-green-0-7,
      0px -1.4px 0 $gfbio-green-0-7,
      0px 1.4px 0 $gfbio-green-0-7,
      1.4px 0 0 $gfbio-green-0-7,
      -1.4px 0 0 $gfbio-green-0-7;
  }

  /* H2 --------------------------------------------------------------------- */

  h2 {
    text-transform: uppercase;
    color: $standard-dark;
    font-weight: 300;
    margin-bottom: 1.6rem;
  }

  /* H3 --------------------------------------------------------------------- */

  h3 {
    letter-spacing: 2px;
    border-bottom: 1px solid $gray-dark-2;
    color: $standard-dark;
    //color: $gfbio-blue;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
    margin-bottom: 1.6rem;
  }

  .header {
    letter-spacing: 2px;
    border-bottom: 1px solid $gray-dark-2;
    padding-bottom: 0.5rem;
    margin-bottom: 1.6rem;

    h3 {
      display: inline-block;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 400;
      color: $standard-dark;
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    p {
      display: inline-block;
      text-transform: lowercase;
      margin: 0 0 0 1rem;
      color: $gray-dark;
    }
  }

  .questionHelp {
    display: flex;
  }

  .labelHelpIcon {
    padding-left: 3px;
  }

  .helpicon-pin {
    font-size: 0.9rem;
  }
  
  .validation-field {
    display: inline-block;
    line-height: 1rem;
  }

  .header-right .section-title::before,
  .header-left .section-title::after {
    display: inline-block;
    content: "";

    margin: 0 6px;

    width: 3px;
    height: 3px;
  }

  /* H4 --------------------------------------------------------------------- */

  h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 1rem;
    font-weight: 400;
    color: $standard-dark;
  }

  /* H5 --------------------------------------------------------------------- */

  h5 {
    @include sans-serif-font;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: $standard-dark;
    margin-bottom: 1.6rem;
  }

  /* H6 --------------------------------------------------------------------- */

  h6 {
    color: $standard-dark;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 0.85rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;

    hr {
      max-width: none;
      border-top: 1px solid $standard-dark;
      width: 100%;
    }
  }

  /* Paragraph -------------------------------------------------------------- */

  p {
    font-size: 0.9rem;
    margin: 0 1rem 1.5rem 0;
    line-height: 1.5rem;
  }

  p.lead {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 3rem;
  }

  /* Table    -------------------------------------------------------------- */

  table {
    margin-bottom: 2rem;
    margin-top: 1rem;

    td,
    th {
      font-size: 0.9rem;
    }

    td {
      p {
        padding: 0;
        margin: 0;
      }
    }
  }

  table.consortium {
    td {
      border: 0;
    }
    border-top: 1px dotted $gray;
    border-bottom: 1px dotted $gray;
  }

  /* Accordion specific ----------------------------------------------------- */

  .accordion {
    h3 {
      font-size: 1.2rem;
    }

    .accordion-collapse {
      border: 2px solid $gfbio-green-0-3;
      border-radius: 0.5rem;
    }
  }

  select.form-control {
    -webkit-appearance: auto !important;
      -moz-appearance: auto !important;
            appearance: auto !important;
  }
}
