.mandatory {
  color: $contrast-2;
}

span.mandatory {
  color: $contrast-1;
}


input, textarea {

  color: $gray;
  font-size: .9rem;

  &::placeholder {
    color: $gray-light-1 !important;
    font-size: 0.85rem;
  }

  &:focus {
    border-color: $gfbio-green-0-7;
    box-shadow: 0 0 0 0.2rem $gfbio-green-0-3;
    outline-color: $gfbio-green-0-7;
  }

}

textarea {
}


.btn-green {

  @include sans-serif-font-2;
  font-weight: 500;

  border-color: darken($gfbio-green, .2);
  background-color: $gfbio-green;
  color: $white !important;

  &:focus {
    box-shadow: none;
  }

  &:hover, &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    &:focus {
      box-shadow: none;
    }

    border-color: darken($gfbio-green, .2);
    background-color: $white;
    color: $gfbio-green !important;
    box-shadow: none;
  }

  i {
    margin-right: .75rem;
  }
}

.btn-green-sidebar {

  @include sans-serif-font-2;
  font-weight: 400;

  border-color: darken($gfbio-green, .2);

  background-color: $white;
  color: $gfbio-green !important;

  &:focus {
    box-shadow: none;
  }

  &:hover, &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    &:focus {
      box-shadow: none;
    }

    border-color: darken($gfbio-green, .2);
    background-color: $gfbio-green;
    color: $white !important;
    box-shadow: none;
  }

  i {
    //margin-right: .75rem;
  }
}


label {
  margin-bottom: .5rem;

  a {
    color: $gfbio-green !important;
    @include transition-all;

    &:hover {
      color: $gfbio-blue-0-8 !important;
    }
  }
}


.boxed {
  padding: 2rem;
  background-color: $white;
  border: 1px solid $gray-light-1;
  border-radius: .25rem;
}


div#projectDetail {

  h5 {
    color: $gray-dark-2;
    letter-spacing: normal;
    text-transform: none;
    margin-bottom: .5rem;
    padding-bottom: .4rem;
  }

  small {
    margin-bottom: .5rem;
    color: $gfbio-light-blue !important;
  }

  .form-group {
    margin: 1rem 0 2rem 0;
    border: 1px solid $gfbio-light-blue-0-6;
    border-radius: .5rem;
    padding: 1rem;
    background-color: $gfbio-light-blue-0-05;

    label {
      width: 100%;
    }
  }
}

// TODO: maybe obsolete after reafactoring, remove then
div#summary {
  i {
    color: $gfbio-blue;
    font-size: 4rem;
  }

  h6 {
    color: $gfbio-blue;
    font-size: 1rem;
    font-weight: 500;
  }
}


h6.sidebar-list-item {
  margin: 0 !important;
  padding-top: 0.5rem;
  padding-bottom: 0.45rem;

  i {
    margin-right: 1rem;
    font-size: 1.6rem;
  }

  i.right {
    margin-right: 0;
    margin-left: 1.6rem;
  }

}
