// Styling for the navbar
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

#mainNav, #mainNavContent {
  background-color: $white;
  border-bottom: 0;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .05);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, .05);

  @include sans-serif-font-2;
  @include transition-all;

  min-height: 62px;

  .navbar-brand {
    line-height: 70px;
    height: 70px;
    margin: 0;
    padding: 0;

    h1 {
      @include transition-all;
      padding: 44px 90px 0 0;
      margin: 0;
      height: 70px;
    }

  }

  &.navbar-shrink {
    .navbar-brand {
      h1 {
        background: url("../assets/img/gfbio_logo_small.svg") no-repeat center center !important;
        padding: 44px 90px 0 0;
      }

    }
  }

  .navbar-nav {
    > li.nav-item {
      > a.nav-link,
      > a.nav-link:focus {
        font-size: 1rem;
        color: $gray-dark-2;
        line-height: 20px;

        &:hover {
          color: $primary;
        }

        &.active {
          color: $primary !important;
          background-color: transparent;

          &:hover {
            background-color: transparent;
          }
        }
      }

      .dropdown-toggle::after {
        display: none;
      }

      .dropdown-menu {
        .dropdown-item {
          &:hover {
            color: $primary;
            background-color: inherit;
          }

          &.active {
            color: $primary !important;
            background-color: inherit;

            &:hover {
              background-color: inherit;
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    background-color: transparent;
    border-bottom: 1px solid $gray-dark-2;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    .navbar-brand {
      color: fade-out($white, .3);

      &:focus,
      &:hover {
        color: $primary;
      }
    }

    li.sign-up {
      padding-left: 4rem;
    }

    .navbar-nav > li.nav-item > a.nav-link {
      padding: 0 0.75rem;
    }
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      color: $gray-dark-2;

      &:hover {
        color: $primary;
      }
    }
    &.navbar-shrink {
      background-color: $white;

      border-bottom: 0;
      -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .05);
      -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .05);
      box-shadow: 0 3px 3px rgba(0, 0, 0, .05);

      .navbar-brand {
        color: $primary;

        &:focus,
        &:hover {
          color: darken($primary, .1);
        }
      }

      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        color: $gray-dark-2;

        &:hover {
          color: $primary;
        }
      }
    }

    &.navbar-shrink-content {
      background-color: $white;
      border-bottom: 1px solid $gray-dark-2;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

  }
}

// react app:
// ----------


//ul.nav-tabs {
//  li.nav-item {
//    .nav-link {
//      font-size: 0.9rem;
//      color: $gfbio-light-blue;
//
//      &:hover {
//        border-color: $gfbio-blue-0-1;
//        background-color: $gfbio-green-0-1;
//      }
//    }
//
//    .nav-link.active {
//      color: $gfbio-light-blue;
//      font-weight: bolder;
//    }
//  }
//}


ul.sub-navi {
  padding: 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid $gray-light-1;
  include: sans-serif-font-2;

  .nav-link {
    font-size: .9rem;
    color: $gray-darker;

    i {
      padding-right: .5rem;
    }

    &:hover {
      background-color: $gfbio-light-blue;
      color: $white;
    }

    &:focus {
      box-shadow: none;
      border-color: transparent;
    }

  }

  .nav-link.active {
    font-weight: bold;
    border-left-color: $gray-light-1;
    border-right-color: $gray-light-1;
    border-top-color: $gray-light-1;
  }

}


.language-chooser {
  a.click-link {
    color: $primary;
    text-align: end;
    cursor: pointer;

    &:hover {
      color: darken($primary, .1);
    }
  }
}