{% extends "base.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'css/faq-styling-v1.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script defer src="{% static 'js/knowledgebase-connector-v1.js' %}"></script>
{% endblock javascript %}

{% block content %}

<div>
  <h1>Some frequently asked questions</h1>
  <div id="qnas"></div>
</div>

<script>
  var div = document.getElementById("qnas");

  window.onload = function() {
    var knowledgebaseHtmlCreator = KnowledgebaseHtmlCreator();
    knowledgebaseHtmlCreator.createWithSearch(div, 7831613);
  }
</script>

{% endblock content %}
